@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Fira Sans", serif;
    background-color: rgb(232, 232, 232);
}

/* primary word  */
.btn_primary{
    border-radius: 8px;
    padding: 12px 15px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    border: none;
    cursor: pointer;
    margin: 10px 0px;
}
.btn_primary:hover{
    background: 0;
    border: 2px solid #006A50;
    color: #000;
}
.hadding_primary{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin: 15px 0px;
}
.hadding_secend{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: left;
    margin: 40;
}
.pragraph_primary{
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
}
.width_primary{
    width: 85%;
    margin: 50px auto;
}
.btn_secendary{
    padding: 10px 15px;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    font-family: Fira Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    cursor: pointer;
}
.btn_secendary:hover{
    background-color: rgb(0, 106, 80);
    color: #fff;
}
/* navber section desgin  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
}
.banner{
    background: rgb(198, 228, 214);
    height: 75vh;
    border-radius: 16px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}

.banner_img img{
    width: 317px;
}

main{
    
}

/* Pillars of "Bangladesh 2.0" */
.pillars_section{
    margin: 50px 0px ;
}
.pillars_container{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    margin: 50px 0px;
}
.pillars_content{
    padding: 20px;
    background-color: #fff;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px;

}
.pillars_content img{
    width: 41px;
}
/* future_container */
.future_container{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    margin: 50px 0px;
}

.future_content{
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: #C6E4D6;
}
.future_content img,
.future_content h5,
.future_content p{
    margin-bottom: 10px;
    padding-bottom: 10px;
}

/* Dr. Muhammad Yunus */
.yunus_section{
    width: 85%;
    height: 171px;
    background-color: white;
    padding: 30px;
    border-radius: 16px;
   
    text-align: left;
}
.qutes{
    background-image: url("./assets/quote-bg.png");
    background-position: 0px 10px;
    background-repeat: no-repeat;
}

/* Your Opinion Matters */



/* Recent News */
.news_container{
    background-color: #fff;
    display: flex;
    padding: 30px;
    gap: 30px;
    align-items: center;
    border-radius: 16px;
    margin: 30px 0px;
}

.news_img_content img{
    width: 273px;
    border-radius: 16px;
}

.news_text_content img{
    width: 90px;
}

/* donate_container */
.donate_container{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    align-items: center;
    text-align: center;
    
}
.donate_content{
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    width: 22%;
}
.active{
    background-color: #C6E4D6;
}
.donate_content:hover{
    background-color: #C6E4D6;
}

.input_content input{
    width: 100%;
    padding: 12px 15px ;
    text-align: center;
    margin: auto;
    border: none;
    border-radius: 10px;
}
.donate_button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}
/* Subscribe Newsletter */
.newsletter{
    height: 264px;
    background-color: #C6E4D6;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.news_letter_container{
    width: 60%;
}

.news_letter_container input{
    width: 80%;
    padding: 12px 15px;
    border: none;
    border-radius: 10px 0px 0px 10px ;
}
.subscribe_btn{
    border-radius: 0px 10px 10px 0px;
    margin-left: -5px;
    padding: 12px 15px;
    border: none;
    background-color: #006A50;
    color: #fff;
    margin-bottom: 10px;
    outline: none;
}
footer{
    background-color: #fff;
    padding: 50px 10px;
    text-align: center;
}
.footer_icon{
    border-top: 1px solid #ddd;
    width: 60%;
    margin: 10px auto;
    padding: 10px;
}